{% extends "layout.html" %}
{% block title %}Editar recorrido{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='user_forms.css')}}">
{% endblock %}
{% block content %}
    <h1 class="title-user-register">Editar recorrido de evacuación</h1>
    <div class="container-user-register">
        <div class="title">Detalles del recorrido</div>
            <div class="content-user-register">
                <form action="{{ url_for('recorridosDeEvacuacion_actualizar' , recorrido_id = recorrido.id) }}" method="POST">
                    <div class="user-details">
                        <div class="input-box">
                            <span class="details">Nombre</span>
                            <input type="text" name="nombre" placeholder="Ingrese el nombre"  value="{{recorrido.nombre}}" required="true">
                        </div>
                        <div class="input-box">
                            <span class="details">Descripción</span>
                            <input type="text" name="descripcion" placeholder="Ingrese su descripción" value="{{recorrido.descripcion}}" required="true">
                        </div>
                    </div>
                    <div class="button">
                        <input type="submit"  value="Actualizar datos"> 
                    </div>
                </form>
                <div class="button button-cancel">
                    <input type="submit"  value="Cancelar" onclick="location.href='{{url_for('recorridosDeEvacuacion_index')}}'">              
                </div>
            </div>
        </div>
    </div>
{% endblock %}