{% extends "layout.html" %}
{% block title %}Resultados búsqueda denuncias{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='user_forms.css')}}">
{% endblock %}
{% block content %}

<h1 class="title-user-register">Resultados de búsqueda</h1>

{% for denuncia in denuncias %}
<div class="container-user-register">
  
  <div class="title">Detalles de denuncia</div>
  <div class="content-user-register">
    
      <div class="user-details">
        <div class="input-box"></div>
            <span class="details">Título denuncia: {{denuncia.titulo}}</span>
        </div>
        <div class="input-box"></div>
            <span class="details">Categoría denuncia: {{denuncia.categoria.nombre}}</span>
        </div>
        <div class="input-box">
            <span class="details">Fecha de creación: {{denuncia.fecha_creacion}}</span>
        </div>       
        <div class="input-box">
            <span class="details">Descripción: {{denuncia.descripcion}}</span>
        </div>          
            
        <div class="input-box">
            <span class="details">Apellido denunciante: {{denuncia.apellido_denunciante}}</span>
        </div>
        <div class="input-box">
            <span class="details">Nombre denunciante: {{denuncia.nombre_denunciante}}</span>
        </div>
        <div class="input-box">
            <span class="details">Teléfono: {{denuncia.telefono}}</span>
        </div>
        <div class="input-box">
            <span class="details">Email: {{denuncia.email}}</span>
        </div>
        <div class="input-box">
            {% if denuncia.asignado == None %}
                <span class="details">Asignado a: Nadie</span>
            {% endif %}
            {% if not denuncia.asignado == None %}
                <span class="details">Asignado a: {{denuncia.asignado}}</span>
            {% endif %}
        </div>
                    
      </div>
  
  </div>
  
  
</div>
{% endfor %}
<div class="body-home"> 
  <a href="{{ url_for('denuncia_index') }}" class="link">Volver</a>
</div>
{% endblock %}
 

